h1, h3, p {
  font-family: Lato;
}
button{
  cursor:pointer;
  margin:10px;
  padding:10px;
  border-radius:25px;
  letter-spacing: 1px;
  border:none;
  text-transform: uppercase;
  color:#666;
  outline:none;
  width: 130px
}

#root {
  display:flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  justify-content: center;


}

.body {
  margin:0;
  padding:0;

  
}

.box {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 2px 2px rgb(211, 211, 211);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  background:rgb(187, 218, 236);
  padding:40px;
}